body {
    height: auto;
    margin: auto;
    width: 1440px;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--lgb-color);
    --violet-color: #7541c8;
    --vdgb-color: #48556a;
    --vdbb-color: #19212e;
    --white-color: #ffffff;
    --lg-color: #cfcfcf;
    --lgb-color: #ecf2f8;
  }
  main{
    display: block;
    position: absolute;
    margin: 9rem;
  }
  div {
    z-index: -2;
    display: inline-block;
    position: absolute;
    border-radius: 3%;
  }
  article{
    position: relative;
    bottom: 2rem;
  }
  img{
    display: block;
    position: absolute;
  }
  .horizontal{
    height: 17rem;
    width: 34rem;
  }
  .squared{
    height: 17rem;
    width: 16rem;
  }
  .bordered{
    border-style: solid;
    border-color: var(--vdgb-color);
  }
  .light{
    color: var(--vdgb-color);
  }

  .dark{
    color: var(--lg-color);
  }
  .light p{
    color: var(--vdbb-color);
  }
  .dark p{
    color: var(--lgb-color);
  }
  .dark h1{
    color: var(--lgb-color);
  }
  .pp{
    position: relative;
    height: 1.8rem;
    margin-left: 2.4rem;
    border-radius: 50%;
    left: 0%;
  }
  .header{
    display: block;
    position: relative;
    margin-top: 3rem;
  }
   h1{
    position: relative;
    left: 5rem;
  }
    span{
    color: var(--lg-color);
    position: relative;
    bottom: 1rem;
    font-weight: 500;
    left: 5rem;
  }
    p{
    display: block;
    position: relative;
    margin-left: 38px;
    margin-right: 38px;
    font-size: 19px;
    font-weight: 600;
  }
  blockquote{
    position: relative;
    display: block;
    font-family: 500;
    margin-left: 34px;
    margin-right: 34px;
  }
  #quotations{
    z-index: -1;
    height: 90px;
    left: 25rem;
  }
  #daniel{
    background-color: var(--violet-color) ;

  }
  #jonathan{
    background-color: var(--vdgb-color);
    left: 35rem;
  }
  #jeanette{
    background-color: var(--white-color);
    top: 18rem;
  }
  #patrick{
    background-color: var(--vdbb-color);
    top: 18rem;
    left: 17rem;
  }
  #kira{
    background-color: var(--white-color);
    width: 16rem;
    height: 35.5rem;
    left: 52rem;
  }

  #patrick img{
    border-color: var(--violet-color);
  }
